// ============================================
//  Import breakpoint
@import "../../../assets/css/variables/breakpoints";



//  Variables à modifier pour la taille des font size
$custom-font-size: (
    default: 3px,
    mobile11: 3px,
    mobile12: 3px,
    mobile13: 3px,
    tablet1: 3px,
    tablet2: 3px,
    desktop1: 3.5px,
    desktop2: 3.5px,
    desktop3: 3.5px,
    desktop4: 3.5px,
    desktop5: 3.5px,
    desktop6: 3.5px,
);


//  Variables à modifier pour la position de la snackbar
$custom-snackbar-position-top: (
    default: inherit,
    mobile11: inherit,
    mobile12: inherit,
    mobile13: inherit,
    tablet1: inherit,
    tablet2: inherit,
    desktop1: inherit,
    desktop2: 0,
    desktop3: 0,
    desktop4: 0,
    desktop5: 0,
    desktop6: 0,
);

$custom-snackbar-position-bottom: (
    default: 0,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 0,
    tablet2: 0,
    desktop1: inherit,
    desktop2: inherit,
    desktop3: inherit,
    desktop4: inherit,
    desktop5: inherit,
    desktop6: inherit,
);

//  Variables à modifier pour l'ajustement
$custom-base-paddings-margins: (
    default: 4px,
    mobile11: 4.5px,
    mobile12: 6px,
    mobile13: 6px,
    tablet1: 7px,
    tablet2: 7px,
    desktop1: 8px,
    desktop2: 8px,
    desktop3: 8px,
    desktop4: 8px,
    desktop5: 8px,
    desktop6: 8px
);

//  Variables à modifier pour ajuster la width
$custom-card-widths: (
    default: 80%,
    mobile11: 100%,
    mobile12: 100%,
    mobile13: 100%,
    tablet1: 100%,
    tablet2: 100%,
    desktop1: 80%,
    desktop2: 80%,
    desktop3: 80%,
    desktop4: 80%,
    desktop5: 80%,
    desktop6: 80%,
);

//  Variables à modifier pour ajuster la margin des cards

$custom-card-margin-top: (
    default: 30px,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 30px,
    tablet2: 30px,
    desktop1: 30px,
    desktop2: 30px,
    desktop3: 30px,
    desktop4: 30px,
    desktop5: 30px,
    desktop6: 30px,
);

$custom-card-margin-bottom: (
    default: 30px,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 30px,
    tablet2: 30px,
    desktop1: 30px,
    desktop2: 30px,
    desktop3: 30px,
    desktop4: 30px,
    desktop5: 30px,
    desktop6: 30px,
);

//  Variables à modifier pour ajuster les border 
$custom-card-border-radius: (
    default: 20px,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 0,
    tablet2: 0,
    desktop1: 20px,
    desktop2: 20px,
    desktop3: 20px,
    desktop4: 20px,
    desktop5: 20px,
    desktop6: 20px,
);

//  Variables à modifier pour ajuster les margins du dashboard
$custom-dashboard-margin-top: (
    default: 20px,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 0,
    tablet2: 0,
    desktop1: 50px,
    desktop2: 50px,
    desktop3: 50px,
    desktop4: 50px,
    desktop5: 50px,
    desktop6: 50px,
);

$custom-dashboard-margin-bottom: (
    default: 20px,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 0,
    tablet2: 0,
    desktop1: 50px,
    desktop2: 50px,
    desktop3: 50px,
    desktop4: 50px,
    desktop5: 50px,
    desktop6: 50px,
);



