// ============================================
//  Import breakpoint
@import "../../../assets/css/variables/breakpoints";



//  Variables à modifier pour la taille des font size
$custom-font-size: (
    default: 3.5px,
    mobile11: 3.5px,
    mobile12: 3.5px,
    mobile13: 3.5px,
    tablet1: 4px,
    tablet2: 4px,
    desktop1: 5px,
    desktop2: 5px,
    desktop3: 5px,
    desktop4: 5px,
    desktop5: 5px,
    desktop6: 5px,
);


//  Variables à modifier pour la position de la snackbar
$snackbar-position-top: (
    default: inherit,
    mobile11: inherit,
    mobile12: inherit,
    mobile13: inherit,
    tablet1: inherit,
    tablet2: inherit,
    desktop1: inherit,
    desktop2: 0,
    desktop3: 0,
    desktop4: 0,
    desktop5: 0,
    desktop6: 0,
);

$snackbar-position-bottom: (
    default: 0,
    mobile11: 0,
    mobile12: 0,
    mobile13: 0,
    tablet1: 0,
    tablet2: 0,
    desktop1: inherit,
    desktop2: inherit,
    desktop3: inherit,
    desktop4: inherit,
    desktop5: inherit,
    desktop6: inherit,
);

//  Variables à modifier pour l'ajustement
$base-paddings-margins: (
    default: 4px,
    mobile11: 4.5px,
    mobile12: 6px,
    mobile13: 6px,
    tablet1: 7px,
    tablet2: 7px,
    desktop1: 8px,
    desktop2: 8px,
    desktop3: 8px,
    desktop4: 8px,
    desktop5: 8px,
    desktop6: 8px
);

//  Variables à modifier pour ajuster la width
$custom-card-widths: (
    default: 80%,
    mobile11: 100%,
    mobile12: 100%,
    mobile13: 100%,
    tablet1: 100%,
    tablet2: 100%,
    desktop1: 80%,
    desktop2: 80%,
    desktop3: 80%,
    desktop4: 80%,
    desktop5: 80%,
    desktop6: 80%,
);

