/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #fff7f0,
    100 : #ffebd9,
    200 : #ffdec0,
    300 : #ffd1a7,
    400 : #ffc794,
    500 : #ffbd81,
    600 : #ffb779,
    700 : #ffae6e,
    800 : #ffa664,
    900 : #ff9851,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffaf6,
    A700 : #ffeadd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #fff7ea,
    100 : #ffebcc,
    200 : #ffddaa,
    300 : #ffcf87,
    400 : #ffc56e,
    500 : #ffbb54,
    600 : #ffb54d,
    700 : #ffac43,
    800 : #ffa43a,
    900 : #ff9629,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffead6,
    A700 : #ffddbd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-main-success: (
    50 : #e6eee0,
    100 : #c2d5b3,
    200 : #99b980,
    300 : #709d4d,
    400 : #518826,
    500 : #327300,
    600 : #2d6b00,
    700 : #266000,
    800 : #1f5600,
    900 : #134300,
    A100 : #90ff78,
    A200 : #66ff45,
    A400 : #3cff12,
    A700 : #2cf700,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-main-error: (
    50 : #f3e0e0,
    100 : #e0b3b3,
    200 : #cc8080,
    300 : #b84d4d,
    400 : #a82626,
    500 : #990000,
    600 : #910000,
    700 : #860000,
    800 : #7c0000,
    900 : #6b0000,
    A100 : #ff9a9a,
    A200 : #ff6767,
    A400 : #ff3434,
    A700 : #ff1a1a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-warn: (
    50 : #fcf1e0,
    100 : #f8dcb3,
    200 : #f4c580,
    300 : #efae4d,
    400 : #eb9c26,
    500 : #e88b00,
    600 : #e58300,
    700 : #e27800,
    800 : #de6e00,
    900 : #d85b00,
    A100 : #ffffff,
    A200 : #ffdfcd,
    A400 : #ffbe9a,
    A700 : #ffad80,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-main-dark: (
    50 : #e1e3e5,
    100 : #b4b9be,
    200 : #828a93,
    300 : #505b67,
    400 : #2b3747,
    500 : #051426,
    600 : #041222,
    700 : #040e1c,
    800 : #030b17,
    900 : #01060d,
    A100 : #517aff,
    A200 : #1e53ff,
    A400 : #0037ea,
    A700 : #0031d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-main-light-dark: (
    50 : #fffcf9,
    100 : #fef7f0,
    200 : #fef2e6,
    300 : #fdeddc,
    400 : #fce9d5,
    500 : #fce5cd,
    600 : #fce2c8,
    700 : #fbdec1,
    800 : #fbdaba,
    900 : #fad3ae,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-main-info: (
    50 : #fef6ed,
    100 : #fce8d3,
    200 : #fbd9b5,
    300 : #f9c997,
    400 : #f7be81,
    500 : #f6b26b,
    600 : #f5ab63,
    700 : #f3a258,
    800 : #f2994e,
    900 : #ef8a3c,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe7d5,
    A700 : #ffd8bc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
