// http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5
// => Exporter en "Angular JS 2 (Material 2)" 

$md-primary: ( 
    50: #e8f1f9,
    100: #c6ddf1,
    200: #a1c7e8,
    300: #7bb0df,
    400: #5e9fd8,
    500: #428ed1,
    600: #3c86cc,
    700: #337bc6,
    800: #2b71c0,
    900: #1d5fb5,
    A100: #ecf4ff,
    A200: #b9d5ff,
    A400: #86b7ff,
    A700: #6da8ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-accent: (
    50: #efeef8,
    100: #d7d4ed,
    200: #bcb8e1,
    300: #a19cd4,
    400: #8d86cb,
    500: #7971c2,
    600: #7169bc,
    700: #665eb4,
    800: #5c54ac,
    900: #49429f,
    A100: #f5f4ff,
    A200: #c5c1ff,
    A400: #968eff,
    A700: #7e74ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-warn: (
    50: #f2ecf6,
    100: #decfe7,
    200: #c8afd8,
    300: #b18fc8,
    400: #a177bc,
    500: #905fb0,
    600: #8857a9,
    700: #7d4da0,
    800: #734397,
    900: #613287,
    A100: #ead1ff,
    A200: #d29eff,
    A400: #ba6bff,
    A700: #ae52ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-main-dark: (
    50: #e6e7e9,
    100: #c1c2c8,
    200: #989aa4,
    300: #6e7280,
    400: #4f5364,
    500: #303549,
    600: #2b3042,
    700: #242839,
    800: #1e2231,
    900: #131621,
    A100: #6581ff,
    A200: #3257ff,
    A400: #002efe,
    A700: #002ae5,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$md-main-light-dark: (
    50: #fefeff,
    100: #fcfdfe,
    200: #fbfbfd,
    300: #f9f9fc,
    400: #f7f8fc,
    500: #f6f7fb,
    600: #f5f6fa,
    700: #f3f5fa,
    800: #f2f3f9,
    900: #eff1f8,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-main-success: (
    50: #eff6e5,
    100: #d6e9bf,
    200: #bbdb95,
    300: #9fcd6a,
    400: #8bc24a,
    500: #76b72a,
    600: #6eb025,
    700: #63a71f,
    800: #599f19,
    900: #46900f,
    A100: #d9ffc1,
    A200: #b9ff8e,
    A400: #9aff5b,
    A700: #8aff41,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-main-error: (
    50: #faeaed,
    100: #f3cad1,
    200: #eba6b2,
    300: #e28293,
    400: #dc687c,
    500: #d64d65,
    600: #d1465d,
    700: #cc3d53,
    800: #c63449,
    900: #bc2537,
    A100: #fff8f9,
    A200: #ffc5cb,
    A400: #ff929e,
    A700: #ff7987,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$md-main-info: (
    50: #e5e6ef,
    100: #bdc0d8,
    200: #9297be,
    300: #666da3,
    400: #454d90,
    500: #242e7c,
    600: #202974,
    700: #1b2369,
    800: #161d5f,
    900: #0d124c,
    A100: #848aff,
    A200: #515aff,
    A400: #1e2aff,
    A700: #0412ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);
