// ============================================
//  Variables à modifier pour l'ajustement
$base-paddings-margins: (
    default: 4px,
    mobile11: 4.5px,
    mobile12: 6px,
    mobile13: 6px,
    tablet1: 7px,
    tablet2: 7px,
    desktop1: 8px,
    desktop2: 8px,
    desktop3: 8px,
    desktop4: 8px,
    desktop5: 8px,
    desktop6: 8px
);

// Components _standard