@import "../../../assets/css/variables/breakpoints";

$custom-card-widths: (
    default: 80%,
    mobile11: 100%,
    mobile12: 100%,
    mobile13: 100%,
    tablet1: 100%,
    tablet2: 100%,
    desktop1: 80%,
    desktop2: 80%,
    desktop3: 80%,
    desktop4: 80%,
    desktop5: 80%,
    desktop6: 80%,
);