<div id="dashboard" class="container-fluid h-100 ">
    <div class="row h-100 overflow-auto">
        <div class="col-lg-8 offset-lg-2 box-shadow m-auto">
            <div class="img-background rounded row d-flex flex-column">
                <!-- Afficher sur du XL -->
                <div class="d-none d-xl-block pt-5 p-4 flex-1">
                    <div class="row d-flex align-items-center p-3">
                        <div class="col-xl-4">
                            <ng-container *ngTemplateOutlet="dashboardTitleTemplate"></ng-container>
                        </div>
                        <div class="col-xl-5">
                            <ng-container *ngTemplateOutlet="dashboardSearchInputTemplate"></ng-container>
                        </div>
                        <div class="col-xl-3 d-flex justify-content-end">
                            <ng-container *ngTemplateOutlet="headerIconsTemplate"></ng-container>
                        </div>
                    </div>
                </div>
                <!-- Caché sur du XL -->
                <div class="d-block d-xl-none pt-5 p-4 flex-1">
                    <div class="row">
                        <div class="col-8">
                            <ng-container *ngTemplateOutlet="dashboardTitleTemplate"></ng-container>
                        </div>
                        <div class="col-4 d-flex justify-content-end">
                            <ng-container *ngTemplateOutlet="headerIconsTemplate"></ng-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pt-4 col-12">
                            <ng-container *ngTemplateOutlet="dashboardSearchInputTemplate"></ng-container>
                        </div>
                    </div>
                </div>
                <div class="background-opacity border-radius col-12 p-4 flex-1">
                    <p class="color-main-dark_500 m-0">
                        <b> VOS LECTURES EN COURS </b>
                    </p>
                    <hr class="w-50 mt-1 mb-2" />
                    <div class="w-100">
                        <div class="d-flex flex-wrap justify-content-center">
                            <div *ngIf="!booksCurrentReading.length else currentReadingTemplate">
                                <div class="m-5 d-flex flex-column align-items-center">
                                    Aucunes lectures en cours
                                    <img src="../../../assets/images/undraw_book_lover_re_rwjy.svg" height="200">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-white border-radius shadow col-12 p-4 flex-2">
                    <div class="d-flex align-items-center position-relative m-0 pb-1">
                        <p class="color-main-dark_500 m-0">
                            <b> VOTRE BIBLIOTHEQUE </b>
                        </p>
                        <div class="d-none d-xl-block flex-1 position-absolute end-0 pe-5">
                            <button mat-raised-button color="accent" (click)="createBook()">
                                + Ajouter un livre
                            </button>
                        </div>
                        <div class="d-block d-xl-none flex-1  position-absolute end-0">
                            <button mat-mini-fab matTooltip="Primary" color="accent" (click)="createBook()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr class="w-50 mt-1 mb-2" />
                    <div class="chips row pt-4 pb-3">
                        <mat-chip-listbox aria-label="genre-selection" [(ngModel)]="typesOfBooksSelected"
                            [selectable]="true" [multiple]="true" (ngModelChange)="typesOfBooksSelectedChange()">
                            <mat-chip-option *ngFor="let type of typesOfBooks" [value]="type.id"
                                class="box-shadow-chip">
                                {{type.label}}
                            </mat-chip-option>
                        </mat-chip-listbox>
                        <div class="w-100">
                            <div class="d-flex flex-wrap justify-content-center">
                                <div *ngIf="!booksFiltered.length else bookshelfTemplate">
                                    <div class="m-4 p-0 d-flex flex-column align-items-center">
                                        Aucuns livres dans la Bibliothèque
                                        <img src="../../../assets/images/undraw_bibliophile_re_xarc.svg" height="200"
                                            width="200px" />
                                    </div>
                                </div>
                            </div>
                            <ng-template #bookshelfTemplate>
                                <div *ngFor="let book of booksFiltered">
                                    <div class="shapeOfCover m-4 p-0" (click)="bookInfos(book.id)">
                                        {{book.title}}
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #currentReadingTemplate>
    <div *ngFor="let book of booksCurrentReading">
        <div class="shapeOfCover m-4 p-0" (click)="bookInfos(book.id)">
            {{book.title}}
        </div>
    </div>
</ng-template>

<ng-template #dashboardTitleTemplate>
    <h1 class="title-app color-main-dark_500 m-0">
        Hello, {{authService.getCurrentUserLabel()}}
    </h1>
    <p class="color-main-dark_500">
        <i> Qu'est ce qu'on lit aujourd'hui ? </i>
    </p>
</ng-template>

<ng-template #dashboardSearchInputTemplate>
    <mat-form-field class="dark-theme search-bar w-100">
        <input matInput placeholder="Titre, auteur..." [(ngModel)]="bookAuthorFilter"
            (ngModelChange)="bookAuthorFilterChange($event)">
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
</ng-template>

<ng-template #headerIconsTemplate>
    <mat-icon class="profil-icon" color="primary" (click)="goToUserProfil()"> account_circle </mat-icon>
</ng-template>