<div [formGroup]="form">

    <div [ngSwitch]="question.controlType">
        <ng-container *ngSwitchCase="'textbox'">
            <ng-container *ngTemplateOutlet="questionBase; context: {$implicit:question}"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'password'">
            <ng-container *ngTemplateOutlet="questionBase; context: {$implicit:question}"></ng-container>
        </ng-container>
    </div>

    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>

    <ng-template #questionBase let-question>
        <mat-form-field appearance="outline">
            <mat-label>{{question.label}}</mat-label>
            <input matInput [formControlName]="question.key" [id]="question.key" [type]="question.type">
        </mat-form-field>
    </ng-template>
</div>