::ng-deep {
    .mdc-evolution-chip-set .mdc-evolution-chip-set__chips {
        flex-wrap: unset;
        overflow: scroll;
        padding-bottom: 5px;
    }
    .mdc-evolution-chip-set .mdc-evolution-chip-set__chips::-webkit-scrollbar {
        display: none;
    }

    .shadow {
        box-shadow: 1px -2px 6px #ffbb54 !important;
    }

    .backgroud-color{
        background-color: #FFEBD9;
    }

    
    .heigh-provisoire{
        height: 300px;
    }

}
