@use "@angular/material" as mat;
@include mat.core();

@import "variables/colors";
@import "variables/palette";
@import "variables/custom_variables";

@import "fonts/fonts";

@import "mixins/mixins";

@import "utilities/background-color";
@import "utilities/box-shadow";
@import "utilities/btn";
@import "utilities/opacity";
@import "utilities/spacing";
@import "utilities/text-color";
@import "utilities/typography";


@import "components/custom";

$app-theme: mat.define-light-theme(
    (
        color: (
            primary: $main-primary,
            accent: $main-accent,
            warn: $main-warn
        )
    )
);

body {
    color: mat-color($main-dark) !important;
}

@include angular-material-theme($app-theme);

.dark-theme {
    $app-dark-theme: mat.define-light-theme(
        (
            color: (
                primary: $main-dark,
                accent: $main-dark,
                warn: $main-error
            )
        )
    );
    @include angular-material-theme($app-dark-theme);
}
