#snackbar-component {
    position: fixed;
    z-index: 99;
    left: 20%;
    right: 20%;
}

.snackbar-component {
   
    &_success,
    &_error {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin: 10px;
        padding: 10px 30px;
    }
    &_success {
        background-color: #235000;
        color: white;
    }

    &_error {
        background-color: #a5342c;
        color: white;
    }
}

