<div id="auth" class="container-fluid h-100 text-center">
    <div class="row h-100 overflow-auto">
        <div class="img-background custom-border-radius-mat-card offset-3 col-6 box-shadow">
            <div class="row h-100">
                <h1 class="pt-5 title-app color-main-dark_500"> MY POCKET <br> BOOKSHELF</h1>
                <div class="d-flex align-items-center justify-content-center">
                    <mat-card class="background-white w-75 align-items-center">
                        <mat-card-content>
                            <h2 class="color-main-dark_500 p-4"><b>{{title}}</b></h2>
                            <app-dynamic-form [questions]="questions" (getFormGroup)="getFormGroup($event)"
                                (submitEvent)="submit($event)"></app-dynamic-form>
                            <ng-container [ngSwitch]="questionType">
                                <ng-container *ngSwitchCase="'signIn'">
                                    <button class="btn-auth w-100 pb-3" (click)="switchQuestions('forgotPassword')"> Mot
                                        de passe oublié ? </button>
                                    <button mat-raised-button color="accent" (click)="submit(this.form?.value)"
                                        [disabled]="!form?.valid"> Se connecter </button>
                                </ng-container>
                                <ng-container *ngSwitchCase="'forgotPassword'">
                                    <div class="row flex justify-content-evenly">
                                        <button mat-button class="w-25 btnValid" mat-raised-button color="accent"
                                            (click)="submit(this.form?.value)" [disabled]="!form?.valid"> Valider
                                        </button>
                                        <button mat-button class="w-25 btnBackTo" mat-raised-button color="accent"
                                            (click)="switchQuestions('signIn')"> Retour </button>
                                    </div>
                                </ng-container>
                                <ng-container *ngSwitchCase="'signUp'">
                                    <button mat-raised-button color="accent" (click)="submit(this.form?.value)"
                                        [disabled]="!form?.valid"> S'inscrire </button>
                                </ng-container>
                            </ng-container>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="row">
                    <span class="color-main-dark_500">
                        <ng-container [ngSwitch]="questionType">
                            <ng-container *ngSwitchCase="'signIn'">
                                Vous n'avez pas de compte ? <button class="btn-auth"
                                    (click)="switchQuestions('signUp')"><b> S'inscrire </b> </button>
                            </ng-container>
                            <ng-container *ngSwitchCase="'signUp'">
                                Vous avez un compte ? <button class="btn-auth" (click)="switchQuestions('signIn')">
                                    <b>Se connecter</b> </button>
                            </ng-container>
                        </ng-container>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>