@import "../../../assets/css/variables/breakpoints";
@import "../../../assets/css/mixins/mixins";
@import "../../../assets/css/variables/custom_variables";

.img-background {
    background-image: url("/assets/images/backgroundImgMPB.jpg");
    background-size: cover;
    background-position: center;
    width: 626px;
    height: 872px;
    margin: auto;
}

.btn-password-forgot {
    border: none;
    background-color: #ffffff00 !important;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}

::ng-deep .mat-mdc-card-content {
    width: 80%;
}
