<div class="container-fluid h-100 text-center">
    <div class="row h-100">
        <div class="img-background rounded offset-3 col-6 box-shadow">
            <div class="row h-100 align-items-center">
                <h1 class="pt-5 title-app color-main-dark_500"> MY POCKET <br> BOOKSHELF</h1>
                <app-custom-mat-card [title]="title" [questions]="signInQuestions" (submitEvent)="submit($event)"></app-custom-mat-card>
                <span class="color-main-dark_500"> Vous avez un compte ? <b>Se connecter</b> </span>
            </div>
        </div>
    </div>
</div>