@import "../../../assets/css/variables/breakpoints";
@import "../../../assets/css/mixins/mixins";
@import "../../../assets/css/variables/custom_variables";

.btn-auth{
    border: none;
    background-color: #ffffff00 !important;
}

.cursor{
    cursor: pointer;
}

.background-image{
    background-image: url("../../../assets/images/fond_auth_effetpola_mobile.png");
    background-size: cover;
}

.background-form{
    backdrop-filter: blur(10px);
    background-color: #ffffff60;
    border-radius: 10px;
}