.img-background{
    background-image: url("../../../assets/images/backgroundImgMPB.jpg");
    background-size: cover;
}

.background-form{
    background-color: #ffffff !important;
    opacity: 90%;
}